
plugins {
 // id 'nf-test@0.4.0'
  //id 'nf-sqldb@0.6.0'
}


sql {
    db {
        foo {
            url = 'jdbc:mysql://192.168.10.20:3306/mbiolance_cloud?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true'
            user = 'root'
            password = '123456'
        }
    }
}

kafka {
  url = 'localhost:9092'
  group = 'group'
}

http{
    url = 'http://192.168.10.20:20000/platform/seq-sample/list/2?valid=true'
}

/*
sql {
    db {
        foo {
            url = 'jdbc:mysql://localhost:3306/ncbi?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true'
            user = 'root'
            password = '123456'
        }
    }
}
*/

